.navbar {
  border-bottom: 1px solid gray;
}

.navbar .my-calender {
  font-size: 25px;
  padding-top: 15px;
}

.today-btn {
  border: 1px solid gray;
  border-radius: 5px;
}

.navigation-link {
  display: inline-block;
}

.month,.navigation-link,.today-btn {
  margin-right: 10px;
}

.button {
  display: inline-block;
  float: left;
}

.common-day,.common-block {
  border: 1px solid gray;
  border-top: none;
  display: inline-table;
  height: 125px;
  width: 163px;
}

.common-block {
  text-align: center;
}

.common-box {
  float: right;
}

.user-navigation {
  width: 250px;
  
}

.logged-user,.sign-out,a,.today-btn,.month,.my-calender {
  display: inline-block ;
}

.sign-out {
  float: right;
}

.navigate-month {
  width: 500px;
}

#logged-user {
  border: 1px solid black;
  border-radius: 10px;
  height: 40px;
  margin-left: 340px;
  padding-top: 5px;
  text-align: center;
  width: 150px; 
}

.today-btn {
  margin-left: 20px;
}

.extra-date {
  opacity: 0.6;
}

.eventMessages {
  margin-top: 10px;
}

#mini-calendar {
  width: 230px;
  height: 200px;
  
}

#mini-calendar .common-block,.common-day {
  border: none;
  display: inline-table;
  font-size: 13px;
  height: 10px;
  width: 28px;
} 
#mini-calendar .common-block {
  text-align: center;
}

.mini-navigate-month {
  display: inline-block;
  margin-top: 50px;
  width: 200px;
}

.mini-month {
  display: inline-block ;
  width: 140px;
}

.mini-month {
  float: left;
}

.mini-navigation-link {
  margin-left: 120px;
}

.today-date {
  border-radius: 50%;
  background-color: rgb(78, 78, 230);
  color: white;
  margin: 0px 70px 0px 70px;
  text-align: center;
}

.sign-out {
  color: #000000;
  font-size: 20px;
}




