@font-face {
  font-family: 'bootstrap-icons';
  src: url("Archive/fonts/bootstrap-icons.woff") format("woff");
}

.body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1 rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.navbar-nav a, p{ 
  color: #717275;
}

.navbar-toggler {
  float: right;
}

.navbar-nav li {
  padding: 0px 10px 0px 10px;
}

#navbarMenu {
  .nav-title {
    color: #247CFF;
    font-size: 20px;
    font: bolder;
  }

  .nav-sub-title {
    color: #4F4F51;
    font-size: 10px;
  }
}

.navbar-brand .nav-title {
  color: #247CFF;
  font-size: 25px;
  text-align: center;
}

.image-1 {
  background-size: contain;
  width: 100%;
}

.image-container-1 {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.personal-info {
  background-color: #FFFFFF;
  bottom: 0;
  float: right;
  padding: 10px;
  position: absolute;
  right: 0;

  p {
    font-size: 14px;
  }
}

.circle {
  border-radius: 100%;
  box-shadow: 0px 0px 20px rgb(0, 0, 0 / 5%);
}

.circle-info {
  h1 {
    color: #247CFF;
    font-weight: bold;
  }

  .years {
    color: #727983;
    font-size: 23px;
  }

  .exp {
    color: #727983;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
  }
}

.image-container-2 {
  margin-top: 50px;

  .img-1 {
    float: left;
  }
}

.img-2 {
  float: left;
}

.personal-info span {
  color: #247CFF;
}

.btn {
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 0px;
  color: #247CFF;
  font-size: 10px;
  height: 30px;
  width: 100px;
}

.button {
  height: 100px;
  position: relative;
  width: 100%;
}

.book-btn {
  color: #FFFFFF;
  background-color: #000000;
  left: 43%;
  margin-top: 30px;
  position: absolute;
  width: 150px;

  &:hover {
    color: #FFFFFF;
  }
}

.description {
  color: #9A9C9D;
}

.timeline {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 125px;
  position: relative;

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  &::after {
    background-color: #FFFFFF;
    bottom: 0;
    content: '';
    left: 50%;
    margin-left: -3px;
    position: absolute;
    top: 50;
    width: 6px;
  }
}

.container {
  background-color: inherit;
  height: 200px;
  padding: 10px 59px;
  position: relative;
  width: 50%;

  &::after {
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(0,0,0 / 5%);
    content: '';
    height: 50px;
    position: absolute;
    right: -35px;
    top: 5px;
    width: 50px;
    z-index: 1;
  }
}

.timeline-left {
  left: 0;
  margin: 0;
}

.timeline-right {
  left: 50%;
  margin: 0;
}

@mixin timeline {
  border: medium solid #0000;
  border-color: transparent transparent transparent #000000;
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
}
.timeline-left::before {
  @include timeline;
  border-width: 10px 0 10px 10px;
  right: 29px;
}

.timeline-right {
  &::before {
    @include timeline;
    border-width: 10px 10px 10px 0;
    border-color: transparent #000000 transparent transparent;
    left: 50px;
  }
  &::after {
    left: -16px;
  }
}

.content {
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgb(0,0,0 / 5%);
  position: relative;

  .title {
    background-color: #000000;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #FFFFFF;
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
  }
  .description {
    padding: 10px 20px;
  }
}

.story::after {
  color: #257EF6;
  font-family: bootstrap-icons !important;
  font-size: 23px;
  padding: 12px 0px 0px 18px;
}

.story-one::after {
  content: "\f4b5";
}

.story-two::after {
  content: "\f460";
}

.story-three::after {
  content: "\f3a0";
}

.story-four::after {
  content: "\f3ee";
}

.story-five::after {
  content: "\f4e1";
}

.timeline::after {
  background-color: #EAEAEA;
  bottom: 175px;
  opacity: 0.6;
  top: 110px;
  width: 1px;
}

.booking h1 {
  margin-bottom: 50px;
  margin-top: 100px;
  text-align: center;
}

.bi-phone {
  color: #717275;
  font-size: 20px;
  margin-left: 40px;
}

.bi span {
  color: #9E9999;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
}

.our-clinic a {
  color: #717275;
  font-size: 16px;
}

.footer {
  background-color: #F9F9F9;
}

.opening-hours p {
  border-bottom: 1px solid #EAEAEA;
}

.form-control {
  border-style: hidden;
  border-bottom-style: solid;
}

i {
  color: #717275;
  margin: 0px 5px 0px 5px;
}

.timeline-left .title {
  text-align: right;
}

.date-right, .date-left {
  color: #212529;
  float: right;
  font-size: 16px;
}